@use 'bootstrap/scss/bootstrap.scss' as *;

h1{
    color: rgb(95, 92, 92);
}


/* Contenuto di general.scss */

.project-card {
    background-color: rgba(255, 255, 255, 0.086);
    backdrop-filter: blur(10px);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
  }
  
  h3, p, ul, li {
    color: #ffffff;
  }
  
  ul {
    padding-left: 20px;
    margin: 10px 0;
  }
  
  li {
    list-style-type: disc;
  }
  
  .project-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .btn {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

  .project-actions {
    display: flex; /* Disponi i pulsanti in fila */
    gap: 10px; /* Aggiunge spazio tra i pulsanti */
    justify-content: center; /* Centra i pulsanti all'interno della card */
    margin-top: 20px; /* Aggiunge spazio tra i pulsanti e il contenuto della card sopra */
  }